.table-hover > tbody > tr.disabled:hover > td,
.disabled > td{
    background-color:#dedede;
}

.nav-pills > li.active > a{
    color:#fff;
    background-color:#337ab7;
}

.sidebar-menu > li > a{
    padding-left:5px;
}

.sidebar-menu li.treeview .treeview-menu li.active{
    background:#e4e4e5;
}

.radio-inline, .checkbox-inline{
    margin-left:10px;
}

.hide-overflow{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:100%;
}
